.overlay-menu {
  display: block;
  position: fixed;
  right: -200px;
  top: 0;
  width: 200px;
  height: 100%;
  padding-top: 50px;
  background-color: $brand-blue;
  transition: right 0.5s;

  .sections {
    text-align: center;

    .section {
      margin-top: 40px;
      font-size: 18px;
      list-style: none;
      color: #fff;
    }
  }

  &.-active {
    right: 0;
  }
}
