.container {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  padding: 0 10px;

  @include for-size(tablet) {
    padding: 0;
    max-width: 900px;
  }

  @include for-size(desktop) {
    max-width: 960px;
  }


  &.content {
    padding-top: 60px;
  }
}

.row {
  display: block;
  width: 100%;

  @include for-size(tablet) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.col {
  display: inline-block;
  padding-left: 7.5%;
  padding-right: 7.5%;

  @include for-size(tablet) {
    padding-left: 2.34%;
    padding-right: 2.34%;
  }

  @include for-size(desktop) {
    padding-left: 1.04%;
    padding-right: 1.04%;
  }

  &.-one {
    width: 100%;
  }

  &.-two {
    width: 50%;
  }

  &.-three {
    width: 50%;
  }

  @include for-size(phone) {
    &.-one-p {
      width: 100%;
    }

  }
}
