@import '../../styles/shared';

html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.hamburger-icon {
  position: fixed;
  top: 20px;
  right: 20px;

  @include for-size(desktop) {
    display: none;
  }
}

.container {
  position: relative;
}

section {
  position: relative;
  padding-bottom: 20px;

  .img-title {
    margin-bottom: 20px;
    width: 120px;
    display: block;

    @include for-size(tablet) {
      margin-bottom: 30px;
      width: 150px;
    }
  }

  .icon-section {
    width: 32px;
    position: absolute;
    left: -28px;
    top: -2px;

    @include for-size(tablet) {
      width: 60px;
      left: -80px;
      top: -12px;
    }
  }

  .paragraph {
    margin-bottom: 40px;
    font-size: 14px;
    color: $brand-blue;
    line-height: 1.6;
  }

  .quote {
    color: $brand-blue;
    font-weight: bold;
  }
}

.section-1 {
  width: 100%;
  height: 100vh;
  margin-bottom: 40px;
  background-image: url('/img/landing-cover.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;

  .dots-menu {
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translateY(-50%);
  }

  .key-visual {
    margin-top: 60px;
    width: 50%;
    max-width: 220px;

  }

  .slogan {
    margin-top: 40px;
    color: $brand-green;
    font-size: 16px;
    font-weight: bold;

    &.-desktop {
      display: none;
    }
  }

  .subslogan {
    margin-top: 20px;
    color: $brand-green;
    font-size: 14px;
    font-weight: normal;
    line-height: 2;

    &.-desktop {
      display: none;
    }
  }

  @include for-size(desktop) {
    &:before {
      content: "";
      height: 100%;
      display: inline-block;
      vertical-align: middle;
    }

    .key-visual {
      display: inline-block;
      width: 360px;
      max-width: none;
      margin: 0;
      vertical-align: middle;
    }

    .slogan {
      display: none;

      &.-desktop {
        display: block;
        position: absolute;
        margin-top: 0;
        font-size: 18px;
        left: 60px;
        top: 100px;
        color: #fff;
      }
    }

    .subslogan {
      display: none;

      &.-desktop {
        display: block;
        position: absolute;
        font-size: 14px;
        font-weight: lighter;
        left: 100px;
        top: 100px;
        margin-top: 0;
        color: #fff;
        line-height: 1.3;

      }
    }


  }
}

.section-2 {
  padding-top: 26px;
  padding-left: 36px;

  .left {
    width: 100%;
    display: inline-block;
  }

  .right {
    width: 100%;
    display: inline-block;
    text-align: center;

    .grid {
      display: none;
    }

    .button {
      width: 240px;
      display: inline-block;

      img {
        width: 100%;
      }
    }
  }

  @include for-size(tablet) {
    .left {
      width: 60%;
      display: inline-block;
    }

    .right {
      width: 40%;
      display: inline-block;
      text-align: center;
      .grid {
        display: block;
      }

      .button {
        width: 280px;
        display: inline-block;

        img {
          width: 100%;
        }
      }
    }
  };

  .quote {
    font-size: 20px;
    margin-bottom: 20px;
  }


  .youtube  {
    @include for-size(phone) {
      margin-bottom: 40px;
      position: relative;
      padding-bottom: 56.25%;
      padding-top: 30px; height: 0; overflow: hidden;

      iframe, object, embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    margin-bottom: 40px;
  }


}

.section-3 {
  padding-top: 26px;
  padding-left: 36px;

  .quote {
    margin-bottom: 30px;
    font-size: 20px;
  }

  @include for-size(tablet) {
    .quote {
      font-size: 30px;
    }
    .info {
      margin-left: 30%;
      width: 70%;
    }

  }

  .unplugged-goal {
    margin-bottom: 20px;
    width: 140px;
  }
  .goal-box {
    .title {
      position: relative;
      font-size: 16px;
      font-weight: bold;
      color: $brand-blue;
      margin-bottom: 16px;

      &:before {
        content: "";
        display: block;
        position: absolute;
        left: -14px;
        top: 2px;
        width: 6px;
        height: 16px;
        background-color: $brand-blue;
      }
    }
  }

  .challange {
    position: relative;
    width: 100%;

    .content-image {
      &.-m {
        display: block;
        width: 100%;
      }

      &.-d {
        display: none;
      }
    }

    .button {
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      bottom: 4%;
      display: block;
      width: 54%;
      text-align: center;

      img {
        width: 100%;
      }
    }

    @include for-size(tablet) {
      .content-image {
        &.-m {
          display: none;
        }

        &.-d {
          display: block;
          margin: auto;
          width: 100%;
        }
      }

      .button {
        position: absolute;
        left: auto;
        right: 5%;
        margin: 0 auto;
        bottom: 10%;
        display: block;
        width: 30%;
        text-align: center;

        img {
          width: 100%;
        }
      }
    }
  }


}

.section-4 {
  padding-top: 26px;
  padding-left: 36px;

  @include for-size(tablet) {
    .toggle-qa {
      margin-left: 30%;
      width: 70%;
    }
  }

  .paragraph {
    margin-bottom: 20px;
  }
}

.section-5 {
  padding-top: 26px;
  padding-left: 36px;

  .organization {
    margin-bottom: 30px;
    text-align: center;

    .logo {
      max-width: 200px;
      display: block;
      margin: 0 auto;
    }

    .info {
      .title {
        max-width: 260px;
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
      }

      .paragraph {
        margin-bottom: 30px;
      }
    }

  }

  .slogan {
    &.-d {
      display: none;
    }

    &.-m {
      display: block;
      width: 100%;
      margin: 0 auto;
    }
  }

  @include for-size(tablet) {
    .organization {
      position: relative;
      margin-left: 30%;
      width: 70%;
      text-align: left;

      .logo {
        width: 35%;
        max-width: none;
        display: inline-block;
        vertical-align: middle;
      }

      .info {
        width: 65%;
        display: inline-block;
        vertical-align: middle;

        .title {
          margin: 0;
          margin-bottom: 30px;
          max-width: 360px;
        }

        .paragraph {
          margin-bottom: 0;
        }
      }
    }

    .slogan {
      margin-top: 60px;
      &.-d {
        display: block;
        margin-left: 30%;
        width: 70%;
        max-width: none;
      }

      &.-m {
        display: none;
      }
    }
  }
}

.section-6 {
  padding-top: 26px;
  padding-bottom: 60px;
  padding-left: 36px;

  .slogan {
    max-width: 360px;
    width: 100%;
    display: block;
    margin: 0 auto;

    &.-d {
      display: none;
    }

    @include for-size(tablet) {
      &.-d {
        display: block;
        max-width: none;
        width: 70%;
        margin-left: 30%;
      }
      &.-m {
        display: none;
      }
    };
  }
}
